
.container {
  --nycBlue: #003884;
  --nycLightBlue: #005bd3;
  --nycLightBlue: #4585D8;
  --nycLightBlue: #6f9dd6;
  --nycLightBlue: #82A8D6;
  --nycOrange: #ff6600;
  --nycWhite: #ffffff;
  --disabledItem: #888888;
  --pageBg: #eeeeee;
}
.container {
  background: linear-gradient(177deg, var(--nycBlue) 24px, var(--nycWhite) 25px, var(--nycWhite) 29px, var(--nycOrange) 30px, var(--nycOrange) 39px, var(--pageBg) 40px);
  padding: 0 2rem;
  color: var(--nycBlue);
}

.srOnly {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

div.sDown{
  display: block;
}
span.sDown {
  display: inline;
}

.mUp,
.lUp {
  display: none;
}



.main {
  min-height: 80vh;
  padding: 1rem 0;
}

.main.noLatin label.latinOnly {
  color: var(--disabledItem);
}
.main.noLatin label.latinOnly input[type=checkbox] {
  border-color: var(--disabledItem);
}

.main input[type=number] {
  width: 4em;
  border: 1px solid var(--nycBlue);
  border-radius: 2px;
}

.main input[type=number]:focus-visible {
  outline: none;
  box-shadow: 0 0 3px 2px var(--nycOrange);
}

.main ::selection, .main [contenteditable]::selection {
  background-color: var(--nycBlue);
  color: var(--nycWhite);
}

.main input[type=checkbox] {
  appearance: unset;
  position: relative;
  top: 7px;
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid var(--nycBlue);
  border-radius: 4px;
}
.main input[type=checkbox]:checked {
  background-color: var(--nycBlue);
}
.main input[type=checkbox]:checked::before {
  content: '✔';
  color: var(--nycWhite);
  background-color: var(--nycBlue);
  padding-left: 3px;
  position: absolute;
  top: -1px;
  width: 13px;
  height: 20px;
  border-radius: 7px;
}

.main input[type=radio] {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  /* vertical-align: -50%; */
}
.main input[type=radio]:not(:checked) {
  appearance: unset;
  background: url('/images/bg-radio-unchecked.png') center/25px;
}
.main input[type=radio]:checked {
  accent-color: var(--nycBlue);
}


.main input[type=checkbox]:focus-visible,
.main button:focus-visible,
.main label:focus-visible {
  outline: 3px solid var(--nycOrange);
  outline: none;
  box-shadow: 0 0 3px 2px var(--nycOrange);
}

.main input[type=radio]:focus-visible {
  outline: none;
  box-shadow: 0 0 3px 2px var(--nycOrange);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin-top: 20px;
}


.chunk {
  display: inline-block;
  margin-left: 1.5em;
  min-width: 60%;
}

.chunk.final {
  margin-right: 40%;
}

.chunk.newLine {
  margin-top: 1em;
}

label.indented {
  display: inline-block;
  padding-left: 54px;
  text-indent: -30px;
}

.regen {
  clear: left;
  margin-left: 1.5em;
}

.regen button {
  background-color: var(--nycBlue);
  color: var(--nycWhite);
  border: none;
  border-radius: 8px;
  font-size: 125%;
  padding: 0.25em 1em;
}

#lipsum {
  border-top: 2px solid var(--nycBlue);
  border-left: 2px solid var(--nycBlue);
  border-right: 2px solid var(--nycLightBlue);
  border-bottom: 2px solid var(--nycLightBlue);
  padding: 1em 1.5em;
}
#lipsum p:first-child {
  margin-top: 0;
}
#lipsum p:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (min-width: 500px) {
  .container {
    background: linear-gradient(177deg, var(--nycBlue) 37px, var(--nycWhite) 38px, var(--nycWhite) 42px, var(--nycOrange) 43px, var(--nycOrange) 52px, var(--pageBg) 53px);
    min-height: 100vh;
  }

    div.sDown,
  span.sDown {
    display: none;
  }
  div.mUp,
  div.mDown {
    display: block;
  }
  span.mUp,
  span.mDown {
    display: inline;
  }
  .title {
    font-size: 2.5rem;
    margin-top: 30px;
  }
  .chunk {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    min-width: auto;
  }
  .chunk.whatUnits,
  .chunk.final {
    padding-left: 0.5em;
  }
  .regen {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  .container {
    background: linear-gradient(177deg, var(--nycBlue) 69px, var(--nycWhite) 70px, var(--nycWhite) 74px, var(--nycOrange) 75px, var(--nycOrange) 84px, var(--pageBg) 85px);
    min-height: 100vh;
  }

  div.sDown,
  span.sDown,
  div.mDown,
  span.mDown {
    display: none;
  }
  div.lUp {
    display: block;
  }
  span.lUp {
    display: inline;
  }
  .main {
    min-height: 85vh;
  }
    .title {
    font-size: 3rem;
    margin-top: 55px;
  }
}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
