.container {
  padding: 0 2rem;
}

.srOnly {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.main {
  min-height: 80vh;
  padding: 1rem 0;
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.main input[type=number] {
  width: 4em;
}

.chunk {
  display: inline-block;
  /* border: 1px dotted green; */
  margin-left: 1.5em;
  min-width: 60%;
}

.chunk.final {
  margin-right: 40%;
}

.chunk.newLine {
  margin-top: 1em;
}

label.indented {
  display: inline-block;
  padding-left: 44px;
  text-indent: -22px;
}

.regen {
  clear: left;
  margin-left: 1.5em;
}

#lipsum {
  border: 2px inset;
  padding: 1em 1.5em;
}
#lipsum p:first-child {
  margin-top: 0;
}
#lipsum p:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

div.sDown{
  display: block;
}
span.sDown {
  display: inline;
}

.mUp,
.lUp {
  display: none;
}
@media (min-width: 500px) {
  div.sDown,
  span.sDown {
    display: none;
  }
  div.mUp,
  div.mDown {
    display: block;
  }
  span.mUp,
  span.mDown {
    display: inline;
  }
  .title {
    font-size: 2.5rem;
  }
  .chunk {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    min-width: auto;
  }
  .chunk.whatUnits,
  .chunk.final {
    padding-left: 0.5em;
  }
  .regen {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  div.sDown,
  span.sDown,
  div.mDown,
  span.mDown {
    display: none;
  }
  div.lUp {
    display: block;
  }
  span.lUp {
    display: inline;
  }
  .title {
    font-size: 3rem;
  }
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
